In [1]:
import pandas as pd 

DATAPATH = "../data/processed/cleaned_data.csv"

In [2]:
df = pd.read_csv(DATAPATH)
df.head()

,HourUTC,HourDK,PriceArea,ConsumerType_DE35,TotalCon
0,2023-06-30 21:00:00,2023-06-30 23:00,DK1,111,65920.0
1,2023-06-30 21:00:00,2023-06-30 23:00,DK2,111,47018.0
2,2023-06-30 21:00:00,2023-06-30 23:00,DK1,112,1313.0
3,2023-06-30 21:00:00,2023-06-30 23:00,DK2,112,933.0
4,2023-06-30 21:00:00,2023-06-30 23:00,DK1,119,21806.0

# Preprocess Data

In [6]:
df = df.dropna()

In [7]:
df['TotalCon'] = df['TotalCon'].astype(int)

In [8]:
df.head()

,HourUTC,HourDK,PriceArea,ConsumerType_DE35,TotalCon
0,2023-06-30 21:00:00,2023-06-30 23:00,DK1,111,65920
1,2023-06-30 21:00:00,2023-06-30 23:00,DK2,111,47018
2,2023-06-30 21:00:00,2023-06-30 23:00,DK1,112,1313
3,2023-06-30 21:00:00,2023-06-30 23:00,DK2,112,933
4,2023-06-30 21:00:00,2023-06-30 23:00,DK1,119,21806

## Reshape $y\hat{}$

In [9]:
# Assuming your DataFrame is named 'df'
column = df['PriceArea']

# Reshape the column into (-1, 1)
reshaped_column = column.values.reshape(-1, 1)

In [10]:
reshaped_column

array([['DK1'],
       ['DK2'],
       ['DK1'],
       ...,
       ['DK2'],
       ['DK1'],
       ['DK1']], dtype=object)

## Categorical Encoding

In [11]:
from sklearn.preprocessing import OrdinalEncoder

# Create an instance of the OrdinalEncoder
encoder = OrdinalEncoder()

# Fit and transform the categorical columns
encoded_data = encoder.fit_transform(reshaped_column)

In [12]:
encoded_data

array([[0.],
       [1.],
       [0.],
       ...,
       [1.],
       [0.],
       [0.]])

# Check Stationary of Dataset (Unit Root Testing) 

* Follow this guide: https://stackoverflow.com/questions/63517126/any-way-to-predict-monthly-time-series-with-scikit-learn-in-python

* Unit Root Testing: http://bashtage.github.io/arch/doc/unitroot/unitroot_examples.html


TLDR: Check if the data is unpredictable or not

## KPSS 
#### TODO: Check if valid ADF assumptions

#### Testing

In [13]:
from arch.unitroot import KPSS

In [14]:
kpss_test = KPSS(df['TotalCon'])

In [16]:
print(kpss_test.summary().as_text())

    KPSS Stationarity Test Results
=====================================
Test Statistic                  7.111
P-value                         0.000
Lags                             2298
-------------------------------------

Trend: Constant
Critical Values: 0.74 (1%), 0.46 (5%), 0.35 (10%)
Null Hypothesis: The process is weakly stationary.
Alternative Hypothesis: The process contains a unit root.

## ADF

Ref: http://bashtage.github.io/arch/doc/unitroot/unitroot_examples.html

#### TODO: Check if valid ADF assumptions

#### Testing

In [19]:
from arch.unitroot import ADF

adf = ADF(df['TotalCon'])
print(adf.summary().as_text())

   Augmented Dickey-Fuller Results
=====================================
Test Statistic                -28.932
P-value                         0.000
Lags                              126
-------------------------------------

Trend: Constant
Critical Values: -3.43 (1%), -2.86 (5%), -2.57 (10%)
Null Hypothesis: The process contains a unit root.
Alternative Hypothesis: The process is weakly stationary.

/media/ubuntu_data/cs2215-ECD-mlops/.venv/lib/python3.10/site-packages/arch/unitroot/unitroot.py:776: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  self._stat = stat = resols.tvalues[0]

# Baseline Model

## AdaBoost Regressor

## XGBoost

## ARIMA

## Prophet

## LSTM