# Prepare Env

In [7]:
import os
import pandas as pd

# Load Dataset

In [8]:
DATA_PATH = "../data/data_for_project.txt"

In [9]:
df = pd.read_csv(DATA_PATH, sep=";")
df.head()

            HourUTC            HourDK PriceArea  ConsumerType_DE35  TotalCon
0  2023-06-30 21:00  2023-06-30 23:00       DK1                111   65920.0
1  2023-06-30 21:00  2023-06-30 23:00       DK2                111   47018.0
2  2023-06-30 21:00  2023-06-30 23:00       DK1                112    1313.0
3  2023-06-30 21:00  2023-06-30 23:00       DK2                112     933.0
4  2023-06-30 21:00  2023-06-30 23:00       DK1                119   21806.0

# EDA

## Basic Info

In [10]:
# Display the number of rows and columns
num_rows, num_cols = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

# Display column names
print("Column names:")
print(df.columns)

# Display data types of each column
print("Data types:")
print(df.dtypes)

Number of rows: 1183323
Number of columns: 5
Column names:
Index(['HourUTC', 'HourDK', 'PriceArea', 'ConsumerType_DE35', 'TotalCon'], dtype='object')
Data types:
HourUTC               object
HourDK                object
PriceArea             object
ConsumerType_DE35      int64
TotalCon             float64
dtype: object

In [11]:
df.describe()

       ConsumerType_DE35      TotalCon
count       1.183323e+06  1.183322e+06
mean        3.488941e+02  5.026788e+04
std         1.625421e+02  1.273728e+05
min         1.110000e+02  2.900000e+01
25%         2.150000e+02  7.455000e+03
50%         3.810000e+02  2.176600e+04
75%         4.420000e+02  4.027100e+04
max         9.990000e+02  1.858539e+06

## Missing Value

In [12]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
HourUTC              0
HourDK               0
PriceArea            0
ConsumerType_DE35    0
TotalCon             1
dtype: int64

## Unique Value

In [13]:
# List unique values in categorical columns
print("Unique values in categorical columns:")
for column in df.select_dtypes(include=['object']):
    unique_values = df[column].unique()
    print(f"{column}: {unique_values}")

Unique values in categorical columns:
HourUTC: ['2023-06-30 21:00' '2023-06-30 20:00' '2023-06-30 19:00' ...
 '2021-09-20 05:00' '2021-09-20 04:00' '2021-09-20 03:00']
HourDK: ['2023-06-30 23:00' '2023-06-30 22:00' '2023-06-30 21:00' ...
 '2021-09-20 07:00' '2021-09-20 06:00' '2021-09-20 05:00']
PriceArea: ['DK1' 'DK2']

## Check Duplicate

In [14]:
# Remove duplicate rows
df = df.drop_duplicates()
df.head()

            HourUTC            HourDK PriceArea  ConsumerType_DE35  TotalCon
0  2023-06-30 21:00  2023-06-30 23:00       DK1                111   65920.0
1  2023-06-30 21:00  2023-06-30 23:00       DK2                111   47018.0
2  2023-06-30 21:00  2023-06-30 23:00       DK1                112    1313.0
3  2023-06-30 21:00  2023-06-30 23:00       DK2                112     933.0
4  2023-06-30 21:00  2023-06-30 23:00       DK1                119   21806.0

## Type Conversion

In [15]:
# Convert a column to datetime if it contains dates
df['HourUTC'] = pd.to_datetime(df['HourUTC'])
df.head()

              HourUTC            HourDK PriceArea  ConsumerType_DE35  TotalCon
0 2023-06-30 21:00:00  2023-06-30 23:00       DK1                111   65920.0
1 2023-06-30 21:00:00  2023-06-30 23:00       DK2                111   47018.0
2 2023-06-30 21:00:00  2023-06-30 23:00       DK1                112    1313.0
3 2023-06-30 21:00:00  2023-06-30 23:00       DK2                112     933.0
4 2023-06-30 21:00:00  2023-06-30 23:00       DK1                119   21806.0

## Handling Outliers (Optional)

In [16]:
# Define a function to detect outliers using z-scores and remove them
import numpy as np 
from scipy import stats
z_scores = np.abs(stats.zscore(df['TotalCon']))
df[(z_scores < 3)]

Empty DataFrame
Columns: [HourUTC, HourDK, PriceArea, ConsumerType_DE35, TotalCon]
Index: []

# Export data

In [18]:
# Save cleaned data to a new CSV file
df.to_csv('../data/cleaned_data.csv', index=False)